<%= form_for(@rental) do |f| %>


  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    物件名<br>
    <%= f.text_field :property%><br><br>
    賃料<br>
    <%= f.text_field :rent %>円<br><br>
    住所<br>
    <%= f.text_field :address %><br><br>
    築年数<br>
    <%= f.text_field :age %>年<br><br>
    備考<br>
    <%= f.text_area :remarks %>
    <hr>

    <% x = 1 %>
    <%= f.fields_for :stations do |s| %>
    <h3>最寄り駅<%= x %></h3>
    路線名<br>
    <%= s.text_field :route_name %><br><br>
    駅名<br>
    <%= s.text_field :station_name %><br><br>
    徒歩分数<br>
    <%= s.text_field :walking_minutes %>分<br><br>
    <% x += 1 %>
    <% end %>
    <br>
    <%= f.submit "登録する" %><br>
    <%= link_to "戻る", rentals_path %>

<% end %>
