<h1>一覧</h1>
<hr>
<h2>物件一覧</h2>

<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>

  <% @rentals.each do |r| %>
   <tr>
     <td><%= r.property %></td>
     <td><%= r.rent %>円</td>
     <td><%= r.address %></td>
     <td><%= r.age %>年</td>
     <td><%= r.remarks %></td>
   </tr>
   <% end %>
</table>
<%= link_to "物件を登録する", new_rental_path %>
