<h1>一覧</h1>
<hr>
<h2>物件一覧</h2>

<table>
  <tr>
    <th>物件名 &emsp; </th>
    <th>賃料 &emsp; </th>
    <th>住所 &emsp; </th>
    <th>築年数 &emsp; </th>
    <th>備考 &emsp; </th>
  </tr>

  <% @rentals.each do |r| %>
   <tr>
     <td><%= r.property %>&emsp; </td>
     <td><%= r.rent %>円 &emsp; </td>
     <td><%= r.address %>&emsp; </td>
     <td><%= r.age %>年 &emsp; </td>
     <td><%= r.remarks %>&emsp; </td>
     <td><%= link_to '詳細', rental_path(r.id) %> &emsp;</td>
     <td><%= link_to '編集', edit_rental_path(r.id) %> &emsp;</td>
   </tr>
   <% end %>

</table>
<%= link_to "物件を登録する", new_rental_path %>
