<h1>閲覧</h1>
<hr>
    <b>物件名</b>：<%= @rental.property %><br><br>
    <b>賃料</b>：<%= @rental.rent %>円<br><br>
    <b>住所</b>：<%= @rental.address %><br><br>
    <b>築年数</b>：<%= @rental.age %>年<br><br>
    <b>備考</b>：<%= @rental.remarks %><br><br>
  <hr>
  <% @stations.each_with_index do |st, i| %>
  <h3>最寄り駅<%= "#{i+1}" %></h3>
    <b>路線名</b>&nbsp;<%= st.route_name %><br><br>
    <b>駅名</b>&nbsp;<%= st.station_name %><br><br>
    <b>徒歩分数</b>&nbsp;<%= st.walking_minutes %>分<br><br>
<% end %><br>
<%= link_to "戻る", rentals_path %>
