<h1>閲覧</h1>
<hr>
    <b>物件名</b>：<%= @rental.property %><br><br>
    <b>賃料</b>：<%= @rental.rent %>円<br><br>
    <b>住所</b>：<%= @rental.address %><br><br>
    <b>築年数</b>：<%= @rental.age %>年<br><br>
    <b>備考</b>：<%= @rental.remarks %><br><br>
  <hr>
  <% @stations.each_with_index do |st, i| %>
  <h3>最寄り駅<%= "#{i+1}" %></h3>
  <div class="station_info">
    <p><span class="b">路線名</span>&nbsp;<%= st.route_name %></p>
    <p><span class="b">駅名</span>&nbsp;<%= st.station_name %></p>
    <p><span class="b">徒歩分数</span>&nbsp;<%= st.walking_minutes %>分</p>
  </div>
<% end %><br>
<%= link_to "戻る", rentals_path %>
