<h1>閲覧</h1>
<hr>
    <b>物件名</b>：<%= @rental.property %><br><br>
    <b>賃料</b>：<%= @rental.rent %>円<br><br>
    <b>住所</b>：<%= @rental.address %><br><br>
    <b>築年数</b>：<%= @rental.age %>年<br><br>
    <b>備考</b>：<%= @rental.remarks %><br><br>
  <hr>
  <h3>最寄り駅１</h3>
    <b>路線名</b> &emsp;<%= @rental.stations.first.route_name %><br><br>
    <b>駅名</b> &emsp;<%= @rental.stations.first.station_name %><br><br>
    <b>徒歩分数</b> &emsp;<%= @rental.stations.first.walking_minutes %>分<br><br>
  <hr>
  <h3>最寄り駅２</h3>
     <b>路線名</b> &emsp; <%= @rental.stations.second.route_name %><br><br>
     <b>駅名</b> &emsp;<%= @rental.stations.second.station_name %><br><br>
     <b>徒歩分数</b> &emsp;<%= @rental.stations.second.walking_minutes %>分<br><br>
<br>
<%= link_to "戻る", rentals_path %>
